$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$holiday-background-color: green;
$text-color: #ffffff;
body {
    background: $holiday-background-color;
    color: $text-color;
}

.box-bg {
    background-color: #fc0404;
    width: 80%;
    align-items: center;
}